.guide-card-layout-1,
.guide-card-layout-2,
.guide-card-layout-3 {
    width: 415px;
    height: 415px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    position: relative;
}

.guide-card-layout-1:hover,
.guide-card-layout-2:hover,
.guide-card-layout-3:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.guide-card-layout-1 {
    background-color: #A1FD02;
}

.guide-card-layout-2 {
    background-color: #13FFB9;
}

.guide-card-layout-3 {
    background-color: #D478C4;
}

.guide-card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.guide-card-main-image {
    width: 114px;
    height: 145px;
    border-top-left-radius: 68px;
    border-top-right-radius: 68px;
    border-bottom-left-radius: 57px;
    align-self: center;
}

.guide-card-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #0F0E0E;
    margin-bottom: 10px;
    text-align: left;
}

.guide-card-title img {
    margin-right: 10px;
    width: 69.62px;
    height: 69.62px;
    vertical-align: middle;
}

.guide-card-subtitle {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 175%;
    text-transform: capitalize;
    color: #0F0E0E;
}

.guide-card-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.guide-card-button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: #0F0E0E;
    margin-right: 10px;
}

.download-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.download-button img {
    width: 32px;
    height: 32px;
}

.download-button:hover {
    opacity: 0.7;
}

.guides-container .explore-now-button {
    padding: 10px 20px;
    background-color: black;
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.guides-container .explore-now-button:hover {
    background-color: #333;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}